{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {% if post.published_date %}
    <div class="date2">
    {{post.published_date}}
    </div>
    {% endif %}
    <h1 class="title">{{post.title}}</h1>
    <p class="detail">{{post.text|linebreaksbr}}</p>
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil" style="transform: rotate(135deg)"</span></a>
    <a class="del_button" href="{% url 'blog:post_delete' pk=post.pk %}"><button>Delete</button></a>
    {% endif %}

</div>
{% endblock %}